#nav{
  font-weight: bold;
  font-family: Arial;
  
}

#nav:hover{
  border-bottom: 3px solid white;
}

#nav2:hover{
  background-color: rgb(238, 101, 101);
}

#link{
  position: relative; 
  left: 560px;
  bottom: 160px;
  font-family: sans-serif;
  color: white;
  border: 5px solid rgb(216, 51, 51);
  background-color: rgb(216, 51, 51);
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  padding: 10px 10px;
}

#link:hover{
  text-decoration: none;
}

.link2{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.link2:hover{
  color: black;
  text-decoration: none;
}

.sosmed:hover{
  text-decoration: none;
}